.listContainer {
    background-color: #212121;
}

:global(.vtex-button):hover {
    background-color: #212121;
} 

.listItemActive :global(.vtex-button){
    border: none;
    border-radius: 0;
    background-color: #212121;
}

.listItem :global(.vtex-button) {
    background-color: #212121;
    border: 0px solid #212121;
    border-radius: 0;
} 

.listItemActive {
    border-bottom: 2px solid #cccccc;
} 

.listItem :global(.vtex-button):hover::after,
.listItem :global(.vtex-button):active::after,
.listItem :global(.vtex-button):focus::after {
    width: 80%;
}
